li {
    list-style: none;   
}

.demo-badge {
    background-color: #e3e3e3;   
}

.badge-bought-true {
    background-color: green;
}
.item-bought-true {
   text-decoration: line-through; 
}


.badge-aisle {
    background-color: #8206ff;   
}