<!DOCTYPE html>
<html ng-app="smartShopper">
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.4-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="desktop.css">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
       
      <a class="navbar-brand" href="#">
          Smart Shopper
          <span class = "glyphicon glyphicon-shopping-cart"></span>
      </a>
    </div>
  </div>
</nav>
</head>
<body>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="item.js"></script>
    <div class = "grocery_widget">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Grocery List</h3>
          </div>
          <div class="panel-body">
            <div ng-controller="GroceryController">
                <p>Voice Recognition</p>
                <script>
                   voiceRec();
                </script>
               <ul class="unstyled">
                <li>
                    <span class = "badge demo-badge">
                            <span class = "badge badge-bought-true">bought</span>
                            <span class = "badge badge-aisle">aisle</span>
                        </span>
                   </li>
                <li ng-repeat="item in items">
                  <input type="checkbox" ng-model=item.bought>
                  <span class = "item-bought-{{item.bought}}">{{item.description}}</span>
                   <span class = "badge badge-bought-{{item.bought}}">${{item.price}}</span>
                    <span class = "badge badge-aisle">{{item.aisle}}</span>
                </li>
              </ul>
            <form ng-submit="addItem()">
              <input type="text" ng-model="groceryItem"  size="30"
               placeholder="buy me">
             <input class="btn-primary" type="submit" value="add">
            </form>
            </div>
            </div>
        </div>
    </div>
</body>

</html>