<!DOCTYPE html>
<html ng-app="smartShopper">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.4-dist/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="assets/css/desktop.css">
    
</head>
<body>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="node_modules/jquery/dist/jquery.min.js"></script> -->
  <script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="assets/js/groceryItem.js"></script>


  <nav class="navbar navbar-default" >
    <div class="container-fluid">
      <div class="navbar-header">
         
        <a class="navbar-brand" href="#">
            <span class = "glyphicon glyphicon-shopping-cart"></span>
            Smart Shopper
        </a>
      </div>
    </div>
  </nav>  

  <div class="container" ng-controller="GroceryController">
    <ul class = "list-group coll-xs-12 col-md-6" id="search_box">
      <li class= "list-group-item"> <!-- Search bar -->
        <form class="form-inline" ng-submit="prependItem()">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" ng-model="groceryItem" id="grocItem" ng-submit="addItem()" placeholder="Search">
              <i id="record_button" class="form-control-feedback glyphicon glyphicon-record" ng-click="voiceRec()"></i>
          </div>
          <button class="btn btn-default pull-right" type="submit">Add</button>

          <script type="text/javascript">
            if (navigator.userAgent.indexOf("Chrome") == -1) {
              $("#record_button").hide();
            }
          </script>
        </form>
      </li>
      <li class= "list-group-item" ng-repeat="result in searchResults">
        <span class = "item-bought-false">{{result.description}}</span>
      </li>
    </ul>

    
    <ul class = "list-group col-xs-12 col-md-6 " id="grocery_widget">
      <li class= "list-group-item active">Grocery List</li>
      <li class= "list-group-item" ng-repeat="item in items">
          <input type="checkbox" ng-model=item.bought>
          <button class="glyphicon glyphicon-remove pull-right"></button>
          <span class = "item-bought-{{item.bought}}">{{item.description}}</span>
          <span class = "badge badge_quantity">{{item.quantity}}</span>
          
      </li>
    </ul>

    <!--

    <ul class = "list-group col-xs-12 col-md-6 col-md-offset-3" id="grocery_widget" ng-controller="GroceryController" >
      <li class= "list-group-item active">Grocery List</li>
      <li class= "list-group-item">
        <form class="form-inline" ng-submit="prependItem()">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" ng-model="groceryItem" id="grocItem" ng-submit="addItem()" placeholder="Search">
              <i id="record_button" class="form-control-feedback glyphicon glyphicon-record" ng-click="voiceRec()"></i>
          </div>
          <button class="btn btn-default pull-right" type="submit">Add</button>

          <script type="text/javascript">
            if (navigator.userAgent.indexOf("Chrome") == -1) {
              $("#record_button").hide();
            }
          </script>
        </form>
      </li>
      <li class= "list-group-item" ng-repeat="item in items">
          <input type="checkbox" ng-model=item.bought>
          <button id="delete_button" class="glyphicon glyphicon-remove pull-right" ng-click="deleteItem($index)"></button>
          <span class = "item-bought-{{item.bought}}">{{item.description}}</span>
          <span class = "badge badge_quantity">{{item.quantity}}</span>
          
      </li>
    </ul>
    
    -->
  </div>



</body>

</html>