<!DOCTYPE html>
<html ng-app="smartShopper">
<head>
  <meta charset="utf-8">
  <title>Smart Shopper</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
  <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.4-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/desktop.css">
    
</head>
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="node_modules/jquery/dist/jquery.min.js"></script> -->
<script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/angular.min.js"></script>
<script type="text/javascript" src="assets/js/Chart.min.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
<script type="text/javascript" src="assets/js/angular-chart.min.js"></script>
<script type="text/javascript" src="assets/js/groceryItem.js"></script>


<script type="text/javascript" src="assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="bower_components\angular-modal-service\dst\angular-modal-service.min.js"></script>  
<script src="node_modules/bootbox/bootbox.min.js"></script>  
<!-- <script type="text/javascript" src="assets/js/fb.js"></script> -->

<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
       
      <a class="navbar-brand" href="#">
          <span class = "glyphicon glyphicon-shopping-cart"></span>
          Smart Shopper
      </a>
    </div>
  </div>
</nav>  



<div class="container" ng-controller="GroceryController">


  
  <ul class = "list-group col-xs-12 col-md-6 " id="grocery_widget">
    <li class= "list-group-item active">
      <span class="list-group-item-heading">Grocery List</span>
      <span class="btn-group-xs">
        <button id="send_to_phone" type="button" class="btn btn-default pull-right hover" type="submit" ng-click="sendtophone()">
          <i class="glyphicon glyphicon-phone"></i>
          <span>Send to phone</span>
        </button>
      </span>
    </li>
    <li class= "list-group-item"> <!-- Search bar -->
      <form class="input-group has-feedback ng-scope" ng-submit="search()">
        <input type="text" class="form-control" ng-model="groceryItem" id="grocItem" placeholder="Search" >      
        <span class="input-group-btn">
          <button id="record_button" type="button" class="btn btn-default" ng-click="voiceRec()">
            <img src="assets/images/mic.svg">
          </button>
          <button id="search_icon" type="button" class="btn btn-default" type="submit" ng-click="search()">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
      </form>
      

      <script type="text/javascript">
        if (navigator.userAgent.indexOf("Chrome") == -1) {
          $("#record_button").hide();
        }
      </script>
    </li>



    <li class= "list-group-item" ng-repeat="item in alldata.results">
        <input type="checkbox" ng-model=item.bought>
        <i class="glyphicon glyphicon-remove pull-right hover" ng-click = "deleteItem($index)"></i>
        <span class = "item-bought-{{item.bought}}">{{item.parsed_query.food}}</span>
        <span class = "badge badge_quantity">{{item.parsed_query.qty}}</span>

        
    </li>
  </ul>

  <div id="charts" class="col-xs-12 col-md-6 col-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Gram chart</div>
      <div class="panel-body">
        <canvas id="doughnut" class="chart chart-doughnut" data-ng-init="initializeGraphs()" data="data" labels="labels" options="options">
        </canvas>
      </div>
    </div>
  </div>

 


<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->
<!-- <div id="fb-root"></div>
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>

  <div id="status">
  
</div> -->



</div>



</body>

</html>