.container {
	max-width: 980px;
	margin: 20px auto;
}

.hover:hover {
  color: #7E7E7E;
}



#record_button {

  height: 34px;
  width: auto;
  padding: 8px;
	pointer-events: auto;
}

#record_button:hover {
  fill: #7E7E7E;
}

#delete_button {
  pointer-events: auto;
}

.glyphicon-remove {
	padding-left: 20px;
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  /*pointer-events: none; */
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



.demo-badge {
    background-color: #e3e3e3;   
}

.badge-bought-true {
    background-color: green;
}
.item-bought-true {
   text-decoration: line-through; 
}


.badge_quantity {
    background-color: #8206ff;   
}